<form action="/form" method="post">
  <table> 
    <tr><td>First Name: <td><input type="text" name="firstName"></td></tr>
    <tr><td>Last Name: <td><input type="text" name="lastName"></td></tr>
    <tr><td>Street: <td><input type="text" name="street"></td></tr>
    <tr><td>City: <td><input type="text" name="city"></td></tr>
    <tr><td><input type="submit"></td></tr>
  </table>
</form>
